@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfd;
  --foreground: #1f1f1f;
}

/* When dark mode is enabled (i.e. when the html element has the "dark" class),
   override the CSS variables */
html.dark {
  --background: #1a1a1a;
  --foreground: #f1f1f1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Maxima-Nouva";
  src: url("/fonts/Maxima-Nouva-Regular.ttf") format("truetype");
}

h1 {
  font-family: "Vogun-Mdeium";
  src: url("/fonts/Vogun-Medium.ttf") format("truetype");
}
