@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Maxima-Nouva-Regular";
  src: url("/fonts/Maxima-Nouva-Regular.ttf") format("truetype");
  background-color: #fdfdfd;
}
h1 {
  font-family: "Vogun-Mdeium";
  src: url("/fonts/Vogun-Mdeium.ttf") format("truetype");
}
